.container{
    display: grid;
    grid-template-columns: repeat(5,200px);
    grid-template-rows:repeat(4,200px);
    gap: 20px;
    height:800px;
    .box{
        font-size: 30px;
    }
}
#box1{
    background-color: lightpink;
    
    grid-row:span 4;
}
#box2{
    background-color: lightseagreen;
    grid-column: span 4;
    
}
#box3{
    background-color: rgb(230, 195, 170);
    grid-column: span 3;
    grid-row:span 2;

}
#box4{
    background-color: chocolate;
    grid-row:span 2;
}
#box5{

    background-color: lightseagreen;
    grid-column: span 4;
}

